In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import datetime as dt
import numpy as np
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [28]:
Base.classes.keys()

['measurement', 'station']

In [29]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [30]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
temp_for_june = session.query(Measurement).filter(extract('month', Measurement.date) == 6)

In [31]:
#  3. Convert the June temperatures to a list.
tempJune_list = [temp.tobs for temp in temp_for_june]

In [32]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_dataset = pd.DataFrame(tempJune_list, columns=['June Temperature'])

In [33]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_dataset.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [34]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temp_for_dec = session.query(Measurement).filter(extract('month', Measurement.date) == 12)

In [38]:
# 7. Convert the December temperatures to a list.
tempDec_list = [temp.tobs for temp in temp_for_dec]

In [41]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_dataset = pd.DataFrame(tempDec_list, columns=['December Temperatures'])

In [42]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_dataset.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000